

.navbar-nav{
    height: 100px;
    align-items: center;
}

.navbar a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

.navbar a:hover {
    color: #bcbcbc;
}

.nav-item .btn {
    color: #0071bc;
    background-color: white;
    border: none;
    font-size: 1 rem;
    font-weight: bolder;
    margin-left: 10px;
}


.navbar-primary {
    background-color: #0071bc;
    margin-bottom: 0;

}


.modal-content .form-group{
    margin: 10px;

}

#login-reset {
    text-decoration: none;
    margin: 2px;
    /* font-size: 12px; */
    color: #0071bc;
}


.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto 50px auto;
    background: #0071bc;
    color: white;
}

#player-from {
    width: 1rem;
}

.btn-primary {
    background-color: #0071bc;
}

.btn-primary:hover {
    background-color: #0095f8;
    border-color: #0095f8;
}


th {
    cursor: pointer;

   }

.table {
    font-size: 1rem;
}

.table th {
    vertical-align: middle;
    text-align: center;

}


.table td {
    font-size: 1rem;
    vertical-align: middle;
    text-align: center;
   
   }
   
   
#totalRow.th {
       padding-left: 5px;
   }

.footer {
    color: white;
    background-color: #0071bc;
    height: auto;
    padding: 20px 0px 0px 0px;
    margin-top: 50px;
    width: 100%;
}

.footer .container{
    margin: 20px auto auto auto;
    padding-bottom: 20px;
}

.footer a {
    color: white;
    text-decoration: none;
}


#copyright {
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 10px;
    width: 100%;
    background-color:#015790;
}

.footer p{
    margin: 0px;
}


@media(max-width: 770px){

    #controls{
        text-align: center;
        height: 50px;
    }
    
    #controls a{
        height: 40px;
        width: 15%;
        font-size: 20px;
    }

    .table thead{
        display: none;
    }

    .table {
        --bs-table-striped-bg: none;
    }

    .table, .table tbody, .table tr, .table td, .table tfoot {
        display: block;
        width: 100%;     
    }

    .table tr{
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        /* border-width: 2px;
        border-style: solid;
        border-color: black; */
        background-color: none;


    }
    .table td{
        text-align: center;
        padding-left: 0%;
        position: relative;
        font-size: 20px;
        align-items: center;
        vertical-align: center;
        height: 50px;
        border: none;
    }

    .table td button{
        height: 100%;
        padding: 2px;
        width: 20%;
        text-align: center;
        align-items: center;
        vertical-align: middle;
        justify-content: center;

    }

    .table td a{
        height: 100%;
        width: 20%;
    }

    .table td a .btn{
        height: 100%;
        padding: 2px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .table td::before{
        content: attr(data-label);
        padding-right: 10px;
        left:20%;
        width: 30%;
        padding-left: 10px;
        font-size: 20px;
        text-align: left;
        align-items: center;
        vertical-align: center;
        font-weight: bold;
    }

    .table tfoot{
        display: inline-table;
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
        align-items: center;
        height: 50px;
    }

    .table tfoot td::before{
        content: attr(data-label);
        padding-right: 20px;
        left: 0%;
        width: 50%;
        text-align: left;
        font-weight: bold;
    }

}